* {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
}
body {
   text-align: center;
   flex-direction: column;
   align-items: center;
   height: 100px;
   margin: 20rem;
   background-color: rgb(153, 226, 202);
   /*background: linear-gradient(
    to right,
   );*/
   justify-content: space-between;
   
}
h1 {
    display: flex;
    justify-content:center ;
    text-align: center;
}
.card {
    width: 230px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: rgb(212, 50, 50);
    background: rgb(87, 20, 150);
    background: linear-gradient(to right, rgb(255, 0, 76), rgb(255, 0, 0));
    display: flex;
    flex-direction: column;
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 1rem;
}
.profileimage {
    border-radius: 15px;
    width: 40%;
    border: 1rem black;
}
.profilebtn_{
    /*background-color: skyblue;*/
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid black;    
    color: white;
    border-radius: 5px 0.5rem;
 }
 .profilebtn_:hover{
    background-color: black;
    color: white;
 }
